@inherits LayoutComponentBase

<div class="center-screen">
    <div>
        <h3>Øv...siden findes ikke</h3>
        @*<img src="/images/ErrorPagePicture.jpg" style="width:25vh; display:flex"/>*@
        <i class="material-icons" style="font-size:40px">error_outline</i>
        <div>
            <a href="">Gå til forside</a>
        </div>
    </div>
</div>
@Body

<style>
    .center-screen {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 35vh;
    }
</style>

@code {

}
